.loginpage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  margin: 50px;
  position:relative;
}
.loginbutton {
  margin-top: 50px;
}

.login-message{
  color:red;
}