.report-page-container {
  width: 90%;
  margin: auto;
}

.report-page .header-logo {
  max-width: 100%;
}
.report-page .header {
  margin-bottom: 30px;
}
.report-page .search {
  text-align: center;
  margin-bottom: 30px;
}

.delete-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.delete-modal-hide {
  display: none;
}
.delete-content {
  padding: 30px;
  width: 30%;
  height: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.report-page .header-buttons a button {
  width: 150px;
}
