.header {
  display: flex;
  background-color: var(--headerColor);
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
}

.header-logo {
  max-width: 60%;
}

.report-button {
  margin: auto 10px;
}

.header-buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.report-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
