.header {
  display: flex;
  background-color: var(--headerColor);
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
}

.header-logo {
  max-width: 60%;
}

.report-button {
  margin: auto 10px;
}

.header-buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.report-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .login-button {
  padding: 10px 30px;
  background-color: var(--buttonPink);
  color: var(--whiteGray);
  border: 1px solid var(--buttonPink);
}

.header .login-button:hover {
  cursor: pointer;
  background-color: var(--headerColor);
  color: var(--buttonPink);
}
