.card-create {
  border: 1px solid var(--headerColor);
  color: var(--whiteGray);
  background-color: var(--headerColor);
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 0;
  transition: 0.1s linear;
}

.card-create:hover {
  background-color: var(--buttonPink);
  border: 1px solid var(--buttonPink);
}

.card-create:visited,
.card-create:active,
.card-create:focus,
.card-create:focus-visible,
.card-create:focus-within,
.card-create:target {
  background-color: var(--buttonPink) !important;
  color: white !important;
}

.card-create-image img {
  border-radius: 50%;
  border: 2px solid var(--whiteGray);
}

.card-reate-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.card-create-info p {
  font-size: smaller;
}
