.report-page .single-report {
  padding: 10px;
  border: 1px solid black;
}

.single-report-wide-div {
  min-width: 30%;
  padding-right: 5px;
  padding-left: 10px;
  border-right: 1px solid grey;
}

.single-report-narrow-div {
  width: 20%;
  padding-left: 10px;
  border-left: 1px solid grey;
}
.report-date {
  border: none;
}

.single-report-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.single-report-button {
  height: 30px;
  width: 30px;
}
